python-3.11.9
scikit-learn
xgboost
catboost
lightgbm
imbalanced-learn
optuna
shap

pandas
numpy

fastapi
uvicorn
pydantic
python-multipart

streamlit
plotly

matplotlib
seaborn

joblib
pyyaml
reportlab
scipy

jupyter
ipykernel